<div class="contact mt-5 pt-5 ">
    <h2 class="text-center mt-4">CONTACT SECTION</h2>
    <div class="contact-icon text-center">
        <i class="fa-solid fa-star"></i>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12  px-5 pt-5 mt-3">
                <div class="contact-txt mx-5 px-5">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">userName</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">userAge</label>
                      </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">userEmail </label>
                      </div>
                      <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">userPassword</label>
                      </div>
                      <div class="contact-btn">
                        <input class="btn text-white mb-5" type="submit" value="Send Message">
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>