<div class="portfolio mt-5 pt-5 pb-4">
    <h2 class="text-center pt-3">PORTFOLIO COMPONENT</h2>
    <div class="portfolio-icon text-center">
        <i class="fa-solid fa-star "></i>
    </div>
    <div class="container pt-3">
        <div class="row gy-5 gx-5 ">
            <div class="col-md-4">
                <div class="portfolio-img ">

                    <img src="assets/img/poert1.png" alt="">
                    <div class="layer position-absolute top-0 bottom-0 start-0 end-0 d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus text-white"></i>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="portfolio-img ">
                    <img src="assets/img/port2.png" alt="">
                    <div class="layer d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus text-white"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="portfolio-img ">
                    <img src="assets/img/port3.png" alt="">
                    <div class="layer d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus text-white"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="portfolio-img ">
                    <img src="assets/img/poert1.png" alt="">
                    <div class="layer d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus text-white"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="portfolio-img ">
                    <img src="assets/img/port2.png" alt="">
                    <div class="layer d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus text-white"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="portfolio-img ">
                    <img src="assets/img/port3.png" alt="">
                    <div class="layer d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus text-white"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>